

h1 {
    text-align: center;
}

body {
    background-color: #aa85aa;
}

#cesarForm {
    padding: 10px;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
